/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit; }
  
  html {
    font-size: 62.5%; }
  
  body {
    box-sizing: border-box; 
    background-color: #051e4a;
    color: aliceblue;
}

.heading__main {
    font-size: 7rem;
    text-align: center;
}

.heading {
    font-size: 7rem;
    text-align: center;
    margin-top: 20vh;
}

.container {
    font-size: 4rem;
    text-align: center;
    margin-top: 5px;
    position: relative;
}

.rocket {
    transform: rotate(-55deg);
    height: 25vw;
    max-height: 250px;
    position: absolute;
    bottom: 10vh;
    right: 10vh;
    z-index: -1;
}

.email__input {
    width: 60%;
    max-width: 550px;
    height: 40px;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 3px;
    font-family: inherit;
}
.email__input:focus {
    outline: none;
    box-shadow: black;
}
.email__btn {
    height: 40px;
    padding-left: 2rem;
    padding-right: 2rem;
    border: none;
    border-radius: 3px;
    font-family: inherit;
    background-color: aliceblue;
}

@media (max-width: 550px) {
    .rocket {
        height: 30vw;
        bottom: 2vh;
        right: 5vh;
    }
}

@media (max-width: 450px) {
    .email__input {
        width: 100%;
        margin: 5px 15px;
    }
    .email__btn {
        width: 100%;
        margin: 5px 15px;
    }
    .rocket {
        height: 20vw;
        bottom: 2vh;
        right: 5vh;
    }
}